.ds-demo{
    width: 800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
}

.ds-demo-score{
    width: 450px;
    margin: 0 auto;
}

.ds-similarity-score {
    width: 300px;
    margin: 0 auto;
}

.ds-target {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ds-compare {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.compare-items {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 20px;
}

.compare-items > input[type=checkbox] {
    transform: scale(2);
    accent-color: #ccc;
    outline: none;
    height: 30%;
}

.compare-items > input[type=checkbox].correct {
    accent-color: green;
}

.compare-items > input[type=checkbox].wrong {
    accent-color: red;
}

.dss-demo-start, .demo-next {
    padding: 6px 8px;
    margin-top: 2rem;
    margin-left: 2rem;
    outline: none;
}