.introduction-container {
    width: 900px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count-table th, .count-table td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.count-table  th, .count-table td{
    width: 100px;
    height: 40px;
}

.count-table thead > tr > th:nth-child(1){
	border-top: 0px;
	border-left: 0px;
}

.count-table tr > td input[type=number] {
    width: 50px;
    padding: 5px;
    text-align: center;
}

.count-btn-container{
	display:flex;
	justify-content: center;
}

.count-btn-container > button{
	padding: 6px 8px;
	margin-top: 1rem;
}

.text-center {
    text-align: center;
}