.kf-container {
    width: 900px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#kf-canvas {
    border: 1px solid gray;
}

#kf-btn {
    padding: 6px 8px;
	margin-top: 1rem;
}