.yolo-iou-container {
    width: 800px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
}

.iou-img {
    align-self: center;
}

.iou-img img {
    height:15rem;
}

.user-iou {
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iou-canvas {
    border: 1px solid #ccc;
}


.iou-next-btn {
    padding: 3px 5px;
    margin-left: 5px;
}