.yolo-extract-container {
    width: 800px;
    margin: 0 auto; 
    display:flex;
    justify-content: space-between;
}

/* image */
.yolo-extract-image {
    width: 80%; 
    height:200px; 
    position: relative;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 640px 100%;
  }

.background-img {
    background-image: url('../img/filter/origin.png');
}

.foreground-img {
    background-image: url('../img/filter/filtered1.jpg');
    filter: sepia(1);
    width: 50%;
}

/* filter */
.yolo-extract-filter {
    width:15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
}

.filter-box {
    width:100%;
    margin-top: 10px;
}

.filter {
    width: 100%;
    height:100px;
}

.filter-text {
    font-size: 0.8rem;
    text-align: center;
}

/* slider */
.slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.3);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider:hover {
    background: rgba(242, 242, 242, 0.1);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 200px;
    background: white;
    cursor: pointer;
}

.slider-button {
    pointer-events: none;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-button:after {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
  }

  .slider-button:before {
    content: '';
    padding: 3px;
    display: inline-block;
    border: solid #5D5D5D;
    border-width: 0 2px 2px 0;
    transform: rotate(135deg);
  }
  
  

@media screen and (max-width:768px) { 
    /* .yolo-extract-container {
        width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .img {
        background-size:245px 100%;
    }

    .yolo-extract-filter{
        width:30%;
        margin-top: 10px;
    } */
}